@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
}

.quote-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: hsl(217, 19%, 24%);
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s linear;
  width: 90%;
  padding: 2%;
  position: relative;
}

.quote-box h1 {
  text-transform: uppercase;
  word-spacing: 0.5rem;
  margin: 2% 0 0 0;
  font-size: 1rem;
  color: hsl(150, 100%, 66%);
}

.quote-box #advice {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
}

.quote-box #advice::before,
#advice::after {
  content: '"';
}

.quote-box #div-pattern {
  margin: 1% 0 8% 0;
  fill: hsl(193, 38%, 86%);
}

.quote-box #quote-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -12%;
  padding: 3%;
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.25);
}

.quote-box #quote-btn:hover {
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.25), 1px 1px 10px 4px hsl(150, 100%, 66%);
}

@media (min-width: 900px) {
  .quote-box {
    width: 500px;
  }
}
