@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=League+Spartan:wght@700&display=swap");

:root {
  /* backgrounds */

  --main-background: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  /* keys */
  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);

  --key-2-background: hsl(6, 63%, 50%);
  --key-2-shadow: hsl(6, 70%, 34%);

  --key-3-background: hsl(30, 25%, 89%);
  --key-3-shadow: hsl(28, 16%, 65%);

  /* text */
  --text-1: hsl(221, 14%, 31%);
  --text-2: hsl(0, 0%, 100%);
  --text-3: hsl(0, 0%, 100%);
}

* {
  transition: all 0.2s;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;
  margin: 0;
  padding: 5%;

  height: 100vh;
  width: 100vw;

  background-color: var(--main-background);

  font-family: "League Spartan", sans-serif;

  color: var(--text-2);
}

.container {
  width: 100%;
  height: 100%;
}

@media (min-width: 900px) {
  .container {
    width: 35%;
    height: 85%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

header .theme-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 25%;
}

.theme-box span {
  margin-right: 10%;
}

.theme-box .theme-switch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.theme-box .theme-switch span {
  text-align: center;
}

.theme-box label {
  background-color: var(--keypad-background);
}

.theme-switch label:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.theme-switch label:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.theme-switch label input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.theme-switch label input[type="radio"]:checked {
  background-color: var(--key-2-background);
}

.calculator {
  height: 90%;
  width: 100%;
}

.calculator #display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--screen-background);
  height: 10%;
  padding: 2% 2%;
  border-radius: 10px;
}

.calculator #display #display-led {
  font-weight: 700;
  font-size: 2.5rem;
}

.keypad {
  height: 80%;
  margin-top: 3%;
  padding: 6%;
  border-radius: 10px;
  background-color: var(--keypad-background);
}

.keypad-nums button,
.keypad-btns button {
  background-color: var(--key-3-background);
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-1);

  box-shadow: 0px 4px 1px 1px var(--key-3-shadow);

  cursor: pointer;
}

.keypad-nums button:hover,
.keypad-btns button:hover {
  filter: brightness(0.9);
}

.keypad-nums button:active,
.keypad-btns button:active {
  background-color: var(--key-3-shadow);
  box-shadow: none;
  color: var(--key-3-background);
}

#del,
#reset {
  background-color: var(--key-background);
  color: var(--text-3);
  box-shadow: 0px 4px 1px 1px var(--key-shadow);
}

#del:hover,
#reset:hover {
  filter: brightness(0.9);
}

#del:active,
#reset:active {
  background-color: var(--key-shadow);
  box-shadow: none;
}

#equal {
  background-color: var(--key-2-background);
  color: var(--text-2);
  box-shadow: 0px 4px 1px 1px var(--key-2-shadow);
}

#equal:hover {
  filter: brightness(0.9);
}

#equal:active {
  background-color: var(--key-2-shadow);
  box-shadow: none;
  color: var(--key-3-background);
}

.keypad-nums {
  display: grid;
  height: 85%;
  grid-template-columns: repeat(4, 22.5%);
  grid-template-rows: repeat(4, 21%);
  gap: 3%;
}

.keypad-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
}

.keypad-btns button {
  text-align: center;
  width: 48%;
  height: 100%;
}
